$nav-color:#F5DB13;
.navi{
    // box-sizing: border-box;
    background-color: $nav-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo{
            margin: 0px 40px;
        }
        .nav-bar{

            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
            .nav-item{
                text-decoration: none;
                padding: 10px;
                color: black;
                font-weight: 500;
                font-size: 25px;
            }
            .active {
                text-decoration: none;
                border-bottom: 3px solid black;
            }
        }
        
    }
}
@media only screen and (max-width: 1920px){
    /*Tablets [601px -> 1200px]*/
    .navi{
        width: 100%;
        height: 13vh;
    }
    nav{
        width: 1125px;
        .nav-bar{
            margin: 0px 40px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 250px;
            display: flex;
        }
        .nav-bar-mobile{
            display: none;
        }
        .hamm-burger{
            display: none;
        }
    }
}
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .navi{
        width: 100%;
        height: 13vh;
    }
    nav{
        width: 100%;
        .nav-bar{
            margin: 0px 40px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 250px;
            display: flex;
        }
        .nav-bar-mobile{
            display: none;
        }
        .hamm-burger{
            display: none;
        }
    }
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .navi{
        width: 100%;
        height: 8vh;
        nav{
            width: 100%;
            .logo{
                width: 79px;
                height: 30px;
            }
            .nav-bar{
                display: none;
            }
            .nav-bar-mobile{
                margin: 0px 0px;
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: $nav-color;
                width: 100vw;
                z-index: 0;
                height: 200px;
                transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                transform: translateY(-450px);
                top: 8vh;
                opacity: 50;
                background-color: #e2cb1ff8;
                box-shadow: 2px 2px 10px #e2cb1f;
                .nav-item{
                    padding: 10px;
                    color: black;
                    font-weight: 500;
                    font-size: 25px;
                }
                .active {
                    text-decoration: none;
                    border-bottom: 3px solid black;
                }
            }
            .hid{
                transform: translateY(0px);
            }
                .hamm-burger{
                    cursor: pointer;
                    margin: 0px 40px 0px 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 50px;
                    height: 40px;
                    position: relative;
                    .ham1,.ham3{
                        background-color: black;
                        width: 40px;
                        height: 5px;
                        border-radius: 10px;
                        position: absolute;
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    }
                    .ham1l{
                        transform: rotate(0deg) translateY(-10px);
                    }
                    .ham3l{
                        // top:30px;
                        transform: rotate(0deg) translateY(10px);
                    }
                    .ham1c{
                        transform: rotate(135deg) translateY(0px);
                        // top:20px;
                    }
                    .ham3c{
                        // top:20px;
                        transform: rotate(45deg) translateY(0px);
                    }
                  
                }
        } 
    }
}